body  {
	height: 100vh;
	display: block;
	text-align: center;
}
section  {
	height:50%;
	display: block;
  align-items: center; 
 	justify-content: center; 
	block-size:100% ;
}
.services  {
	color: white;
}
.intro  {
	color: white;
}
.contact-us  {
	
}



