/* body  {
	height: 100vh;
	display: block;
	text-align: center;
} */
section  {
	/* height:100%; */
	display: block;
  align-items: center; 
 	justify-content: center; 
	block-size:100% ;
	text-align: center;
}
.intro  {
	color: white;
/* 	height: 100vh; */
	padding: 200px;
}
.about-us  {
	/* height: 50vh; */
	padding: 10px;
	margin: 50px;
}
.services  {
	color: white;
	/* height: 50vh; */
	padding: 100px;
}
.what-we-do  {
	height: 20vh;
	margin: 20px;
}
.portfolio  {
	height: 80vh;
	margin: 20px;
}
.contact-us  {
	/* height: 90vh; */
}
.card-footer  {
	/* height: 10vh; */
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
}
.container form  {
	
}
#hidden-design {
	display: none;
}
#hidden-development {
	display: none;
}
#hidden-pm {
	display: none;
}
.clickable1 {
	cursor: pointer;
}
.clickable2 {
	cursor: pointer;
}.clickable3 {
	cursor: pointer;
}




