.container  {
	height: 40vh;
	display: block;
	text-align: center;
}
section  {
	height:100%;
	display: block;
  align-items: center; 
 	justify-content: center; 
	block-size:100% ;
}
.services  {
	color: white;

}



